<div class="list-group">
    <ul class="nav nav-tabs justify-content-center">
        {% for marque in marquesFindAll %}   
        <li class="nav-item">
            <a class="nav-link {% if app.request.uri|split('/')|last == marque.id %} active{% endif %}" href="{{path('marque', {'id' : marque.id}) }}">{{ marque.name }}</a>
        </li>
        {% endfor %}
    </ul>
</div>